<script>
  $(document).ready(function () {
    $("#submit_image_query").click(function () {
      $("#results_image_query .image.unopened").remove();
      query = $("#field_image_query").val().replace(/\W+/g, "+").toLowerCase();
      $.getJSON('/image_search/results.json?query=' + query, function(data) {
        $(data).each(function(index) {
          var image = document.createElement("div");
          $(image).addClass("image");
          var src = "/primitive/from_url?url=" + this;
          $(image).attr("data-src", src);
          if (index > 2) {
            $(image).addClass("unopened");
          } else {
            $(image).attr("style", "background-image: url('" + src + "');");
          }
          $("#results_image_query").append(image);
        });
        setImageClickHandlers();
      });
    });

    $("#action_reveal_result").click(function () {
      var image = $("#results_image_query .image.unopened").first();
      $(image).attr("style", "background-image: url('" + image.attr("data-src") + "');");
      image.removeClass("unopened");
    });

    function setImageClickHandlers() {
      $("#results_image_query .image").click(function () {
        $("#results_image_query .image").removeClass("selected");
        $(event.target).toggleClass("selected");
        $("#field_image").val($(this).attr("data-src"));
      });
    }
    setImageClickHandlers();

    $("#field_title").change(function (){
      $("#field_image_query").val($("#field_title").val().toLowerCase());
    });
  });
</script>

<style>
#results_image_query .image {
  width: 240px;
  height: 180px;
  background-size: cover;
  margin: 2px;
  border: 2px solid black;
}

#results_image_query .image.unopened {
  display: none;
}

#results_image_query .image[style] {
  display: inline-block;
}

#results_image_query .image.selected {
  border: 3px solid YellowGreen;
  border-radius: 3px;
}
</style>

<%= form_for(card) do |f| %>
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title, id: "field_title", placeholder: "Object/Action etc." %>
  </div>

  <div class="field">
    <%= f.label :image %>
    <%= f.hidden_field :image, id: "field_image" %>
    <%= text_field_tag :query, "", id: "field_image_query", placeholder: "Images based on..." %>
    <button type="button" id="submit_image_query">Generate Images</button>
    <button type="button" id="action_reveal_result">Load another...</button>
    <div id="results_image_query">
    </div>
  </div>

  <div class="field">
    <%= f.label :text %>
    <%= f.text_area :text, rows: 4, cols: 30, placeholder: "Instructions / description" %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
